 <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}
            </li>
<li>Department of Mathematics </li>
<li>University of Michigan</li>
<li>B722 East Hall </li> 
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>This is Attilio Castano's Math WebPage. In here you will find some of my mathematical work. </p>
      </div>


</footer>
